$icomoon-font-path: "fonts" !default;

$icon_add_circle: \e900;
$icon_arrow_lift: \e901;
$icon_check_circle: \e902;
$icon_close: \e903;
$icon_favorite: \e904;
$icon_keyboard_arrow_right: \e905;
$icon_remove_circle_outline: \e906;
$icon_shopping_cart: \e907;
$icon_thumb_down: \e908;
$icon_thumb_up: \e909;

